.App {
  text-align: left;
}

body{
  background-color: #1d1d1d;
  color: white;
}

.Center {
  text-align: center;
}

.AppLogin {
  text-align: center;
}

.LoadButton{
  margin-bottom: 5rem;
}

.AppRegister {
  text-align: center;
}

table {
  border: 1px solid black;
  width: 90%;
  margin-bottom: 2rem;
}

th, td {
  border: 1px solid black;
}

.GradebooksTable th, 
.GradebooksTable td {
  border: 1px solid black;
  width: 33.33%;
}

.AddNewStudent{
  display: flex;
}

.AddGradebookForm{
  margin-top: 10rem;
}

.Header{
  border: none;
}

table.Header th {
  /* Set the width of the th elements to 33.33% */
  width: 33.33%;
  border: none;
}

table.Header {
  border-bottom: 1px solid #ffffff;
}
.TeachersTable {
  width: 33.33%;
}

.TotalNumGradebooks {
  margin-bottom: 2rem;
}

.DivList {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.navigationButtons{
  background-color: #646464;
  color: white;
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #2b2b2b;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  color: #cdf3ff; /* Replace with your desired color */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.redLabel {
  color: red;
}

.greenLabel{
  color: rgb(0, 255, 26);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
