.App {
  text-align: left;
}

body{
  background-color: #1d1d1d;
  color: white;
}

.AddCommentForm {
  margin-bottom: 5rem;
}

.Center {
  text-align: center;
}

.ActiveUserDiv {
  text-align: center;
  margin-bottom: 2rem;
}

.AppLogin {
  text-align: center;
}

.LoadButton{
  margin-bottom: 5rem;
  width: 200px;
  height: 25px;
}

.AppRegister {
  text-align: center;
}

table {
  border: 1px solid black;
  width: 90%;
  margin-bottom: 1rem;
}

th, td {
  border: 1px solid black;
}

.GradebooksTable th, 
.GradebooksTable td {
  border: 1px solid black;
  width: 33.33%;
}

.AddNewStudent{
  display: flex;
  background-color: rgb(86, 174, 86);
  color: white;
}

.AddGradebookForm{
  margin-top: 10rem;
}

.EditGradebookForm{
  margin-top: 3rem;
}

.EditGradebook{
  text-align: center;
  display: flex;
  margin-top: 1rem;
  background-color: rgb(85, 96, 255);
  color: white;
}

.Header{
  border: none;
}

table.Header th {
  /* Set the width of the th elements to 33.33% */
  width: 33.33%;
  border: none;
}

.DeleteGradebook{
  display: flex;
  background-color: rgb(172, 19, 19);
  color: white;
  margin-top: 1rem;
}

table.Header {
  border-bottom: 1px solid #ffffff;
}

.TeachersTable {
  width: 33.33%;
}

.CommentsTable {
  width: 90%;
}

.CommentsTable td:first-child {
  width: 10%;
  background-color: #343434;
}

.CommentsTable td {
  height: 70px;
  background-color: #343434;
  border: 10px solid;
  /* border-style: none; */
  border-color: #1d1d1d;
}

.DeleteComment{
  background-color: rgb(88, 16, 16);
  color: white;
  margin-top: 2rem;
  width: 100%;
}

.DeleteStudent{
  background-color: rgb(88, 16, 16);
  color: white;
  width: 100%;
  height: 50px;
}

.CommentsTable td:last-child {
  background-color: #343434;
}

.CommentsTable th {
  background-color: #666666;
}

.TotalNumGradebooks {
  margin-bottom: 2rem;
}

.AddCommentTextArea{
  width: 90%;
  height: 100px;
}

.ButtonsAddEditGradebook{
  width: 230px;
}

.SelectTacherAddEditGradebook{
  margin-top: 0.5rem;
  width: 230px;
}

.SubmitCommentButton{
  margin-top: 1rem;
  height: 30px;
}

.DivList {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.navigationButtons{
  background-color: #646464;
  color: white;
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #2b2b2b;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  color: #cdf3ff; /* Replace with your desired color */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.redLabel {
  color: red;
}

.greenLabel{
  color: rgb(0, 255, 26);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loading-gif {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.061);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loading-gif img {
  width: 100px;
  height: 100px;
}
